<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

</head>
<body>

  <header>
    <h1>Messaging App</h1>
    <button><a href="/new">New Message</a></button>
  </header>

    <div >

        <% messages.map((message, index) => { %>
          <div class="user">
            <div class="left-user">
              <p><%= message.name %></p>
              <p><%= message.text %></p>
              <p><%= message.added.toLocaleDateString('en-US') %></p>
            </div>
            <div class="right-user">
              <button><a href="/message/<%= index + 1 %>">Open</a></button>
            </div>

          </div>

        <% }) %>

    </div>



</body>
</html>
